<!-- <% include('./par/header.ejs') %> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/logo/D.png">
  <title>Digimon</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />

  <style>
    html {
      scrollbar-face-color: rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      scrollbar-base-color: rgb(255, 255, 255);
      scrollbar-3dlight-color: rgb(255, 255, 255);
      scrollbar-highlight-color: rgb(255, 255, 255);
      scrollbar-track-color: #000;
      scrollbar-arrow-color: #000;
      scrollbar-shadow-color: rgb(255, 255, 255);
      scrollbar-dark-shadow-color: rgb(255, 255, 255);
    }

    ::-webkit-scrollbar {
      width: 8px;
      height: 3px;
    }

    ::-webkit-scrollbar-button {
      background-color: #666
    }

    ::-webkit-scrollbar-track {
      background-color: rgb(255, 255, 255);
    }

    ::-webkit-scrollbar-track-piece {
      background-color: #000;
    }

    ::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: rgb(255, 255, 255);
      border-radius: 3px;
    }

    ::-webkit-scrollbar-corner {
      background-color: rgb(255, 255, 255);
    }

    ::-webkit-resizer {
      background-color: rgb(255, 255, 255);
    }













    @media  (max-width: 743px){
     

      #navmenuitm{

        display: none;
      }
      
    }
  </style>
</head>

<body>

  <% if(success){ %>
    <div class="alert py-3 px-5 bg-green-700 end-0   fixed  bottom-10  alert-success alert-dismissible fade show"
      role="alert">
      <strong>Success!</strong> Your Profile photo has been successfully updated
      <button type="button" class="btn-close cursor-pointer btn-success w-13 h-13  py-0 z-10" data-bs-dismiss="alert"
        aria-label="Close">
        <i class="ri-close-line"></i>
      </button>
    </div>
    <% } %>





      <form id="profileimgform" method="post" hidden enctype="multipart/form-data" action="/jjp">
        <input accept=".jpg, .jpeg, .png" type="file" name="image" id="profileImage">
      </form>
      <div class="profile  t-1 w-full min-h-screen bg-zinc-800 text-white bg-zinc-900 pt-1">



        <!-- For nav bar -->
        <div class="navbar flex justify-between px-5 md:px-10 pt-1 md:pt-5 ">
          <a href="/feed">
          <img class="aspect-auto w-48 "  src="/images/logo/dlogo.png" alt="Digimon"></a>

          <div class="flex gap-12  text-xl md:hidden text-red-700  font-bold items-center" id="menuitm"  class="menu">
            <a class="opacity-80 hover:opacity-100"
            href="/feed">Feed</a>

          </div>
          <div class="flex gap-12 text-white text-xl   font-semibold items-center" id="navmenuitm"  class="menu">
            <a class="opacity-80 hover:opacity-100"
              href="/feed">Feed</a><a class="opacity-80 hover:opacity-100" href="/profile">Profile</a><a class="opacity-80 hover:opacity-100 hover:text-red-700" href="/logout">Logout</a>
          </div>
        </div>
        <!-- End of nav bar -->


















        <div class="profdetails flex flex-col items-center mt-10 ">

          <div class="profileImg relative z-1  w-32 h-32 bg-zinc-100 rounded-full overflow-hidden ">
            <i id="editPimg"
              class=" ri-pencil-fill scale-90 hover:scale-100 cursor-pointer text-zinc-800 rounded-full h-10 w-10 absolute bottom-0 right-0 bg-red-200 pl-2 pt-1"></i>
            <img class=" w-full h-32 object-cover " src="/images/uploades/<%=user.profileImage%>" alt="">
          </div>

          <div class="pname text-2xl font-semibold mt-3">
            <%=user.name%>
          </div>
          <h3 class="username text-md mt-1 ">@<%=user.username%>
          </h3>
          <div class="btn mt-5">
            <a href="/edit" class="px-6  py-3 bg-zinc-700 rounded-lg text-sm"> Edit</a>
            <a href="/newpost" class="px-10  py-3 bg-red-700 rounded-lg text-sm"> New post</a>

          </div>
        </div>
        <div class="cards  flex flex-wrap  gap-10 px-10 mt-10  md:px-10 ">

          <% if(user.posts.length>0){
            for (var i = 0; i < user.posts.length; i++) { %>
              <div class="card  w-full md:w-60">
                <div class="w-full md:w-52 h-40 bg-zinc-100  rounded-lg overflow-hidden"> <img class="transition-all ease-in-out delay-250 object-cover h-full w-full hover:scale-110"
                    src="/images/uploades/<%=user.posts[i].image%>" alt=""> </div>
                <h1 class="text-xl font-semibold mt-2 ">
                  <%=user.posts[i].caption%>
                </h1>
                <h3 class=" text-sm opacity-60">
                  <%
                  
                  var day=user.posts[i].date.getDate(); 
                  var month=user.posts[i].date.toLocaleString('default', { month: 'short' }); 
                  var minutes = user.posts[i].date.getMinutes();
                  var hours = user.posts[i].date.getHours();
                  var formattedDate = (day < 10 ? '0' : '') + day + ' ' + month + ' ' + (hours < 10 ? '0' : '') + hours + ':' + (minutes < 10 ? '0' : '') + minutes;
                     %>
                     <%=formattedDate%>
                </h3>

              </div>
              <% } }%>




        </div>
      </div>

</body>
<script>
  document.querySelector("#editPimg").addEventListener("click", () => {
    document.querySelector("#profileImage").click();

  });
  document.querySelector("#profileImage").addEventListener("change", () => {

    document.querySelector("#profileimgform").submit();
  });






</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</html>
<!-- <% include('./par/footer.ejs') %> -->